html, body {
	height: 100%;
}
body {
	background-image: url('../img/persebw.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment:fixed;
	background-repeat: no-repeat;
}
.navbar {
	background: rgba(0, 0, 0, 0.7);
}
.blanco {
	color: #fff;
}
.empieza {
	padding: 51px 15px 5px 15px;
	text-align: center;
}
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}
#skyimg {
	border-radius: 0px 273px 273px 293px;
}
#camC {
	border-radius: 0px 0px 10px 10px;
}
#skyimg, #camC {
	max-width: 100%;
	height: auto;
	box-shadow: 1px 1px 2px #000;
}
#push, #footer {
	height: 60px;
}
.invisible {
	display: none;
}

@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
